<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請前往
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="DbConnString" value="Data Source=192.168.68.150;Initial Catalog=Mantoto;Persist Security Info=True;User ID=mantoto_user;Password=!qaz2wsx;MultipleActiveResultSets=true; App=MantotoApi;Max Pool Size=500;Connection Lifetime=60" />
<!--    <add key="DbConnString" value="Data Source=192.168.68.140;Initial Catalog=Mantoto;Persist Security Info=True;User ID=sa;Password=!qaz2wsx;MultipleActiveResultSets=true; App=CaylaApi;Max Pool Size=500;Connection Lifetime=60" /> -->
    <add key="WebSiteUrl" value="https://Mantoto.webshopping.vip" />
    <add key="WebSiteImgUrl" value="https://Mantoto.webshopping.vip/backStage/img" /> <!--網站圖片顯示的URL-->
    <add key="Company_Name" value="饅頭頭購物商城" />
    <add key="MerchantId" value="990006417" />
    <add key="TerminalId" value="916130001" />
    <add key="Banners" value="banners" />
	  <add key="Abouts" value="abouts" />
 	  <add key="Products" value="products" />   
	  <add key="Privacies" value="privacies" />
    <add key="Terms" value="terms" />
    <add key="Capthcas" value="capthcas" />
    <add key="News" value="news" />
    <add key="Article" value="Article" />
    <add key="Lighting" value="Lighting" />
    <add key="Knowledge" value="Knowledge" />
    <add key="PaymentMailing" value="PaymentMailing" />
    <add key="PictureList" value="PictureList" />
    <add key="OtherAccessories" value="OtherAccessories" />
    <add key="Other1" value="Other1" />
    <add key="DefaultValueSort" value="9999" />    
    <add key="Mail_Port" value="25" />
    <add key="Mail_Host" value="192.168.65.33" />
	  <add key="Smtp_Id" value="mis.smtp" />
	  <add key="Smtp_Pw" value="mis.smtp28597542" />
	  <add key="Admin_Mail" value="payware.it@payware.com.tw" />
    <!--<add key="Host" value="https://service.payware.com.tw" />-->
    <add key="Host" value="https://test.payware.com.tw" />

    <!--oAuth Line-->
    <add key="oAuthLineClientId" value="1656451902" />
    <add key="oAuthLineClientSecret" value="56bbe91769d6907777553e34f69b82e3" />

    <!--oAuth Google-->
    <add key="oAuthGoogleClientId" value="622095848089-v76470qg1k7vdvamaaqou0v09undi7vp.apps.googleusercontent.com" />
    <add key="oAuthGoogleClientSecret" value="-oTzsEIa4ytUCDHc9jFw9jvB" />
    
  </appSettings>
  <system.web>
    <!--啟用Form認證-->
    <authentication mode="Forms" />
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <!--<httpRuntime targetFramework="4.7.2" maxRequestLength="102400" executionTimeout="120"/>-->
  </system.web>
  <!--
   maxRequestLength  為 上傳檔案大小 單位(KB)
   executionTimeout 為 上傳時間 單位(S)
  -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
<system.webServer>
    <!--開起跨網域要求-->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
    </customHeaders>
      </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>